<div class="stats-title">Stats</div>
<div class="stat-item level">
    <span class="stat-name">Level</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item maxHP">
    <span class="stat-name">Max HP</span>
    <span class="stat-value">10</span>
</div>
<div class="stat-item hpRegen">
    <span class="stat-name">HP Regeneration</span>
    <span class="stat-value">5</span>
</div>
<div class="stat-item lifeSteal">
    <span class="stat-name">Lifesteal</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item damage">
    <span class="stat-name">Damage</span>
    <span class="stat-value">0.0%</span>
</div>
<div class="stat-item red">
    <span class="stat-name">Red</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item green">
    <span class="stat-name">Green</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item blue">
    <span class="stat-name">Blue</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item yellow">
    <span class="stat-name">Yellow</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item attackSpeed">
    <span class="stat-name">Attack Speed</span>
    <span class="stat-value">0.0%</span>
</div>
<div class="stat-item critChance">
    <span class="stat-name">Crit</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item range">
    <span class="stat-name">Range</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item armor">
    <span class="stat-name">Armor</span>
    <span class="stat-value">0</span>
</div>
<div class="stat-item dodge">
    <span class="stat-name">Dodge</span>
    <span class="stat-value">0.0%</span>
</div>
<div class="stat-item moveSpeed">
    <span class="stat-name">Speed</span>
    <span class="stat-value">0.0%</span>
</div>