<div class="stats-title">Stats</div>
<div class="stat-item maxHP">
  <span class="stat-label">Max HP</span>
  <span class="stat-value">10</span>
</div>
<div class="stat-item level">
  <span class="stat-label">Level</span>
  <span class="stat-value">1</span>
</div>
<div class="stat-item moveSpeed">
  <span class="stat-label">Move Speed</span>
  <span class="stat-value">150</span>
</div>
<div class="stat-item critChance">
  <span class="stat-label">Crit Chance</span>
  <span class="stat-value">5%</span>
</div>
<div class="stat-item attack">
  <span class="stat-label">Attack</span>
  <span class="stat-value">0</span>
</div>
<div class="stat-item armor">
  <span class="stat-label">Armor</span>
  <span class="stat-value">0</span>
</div>
<div class="stat-item luck">
  <span class="stat-label">Luck</span>
  <span class="stat-value">0</span>
</div>